/* Navigation Section  */
#navbar{
    flex-direction: column;
}


/* Services Section  */
.services{
    flex-direction: column;
}

.services .box{
    width: 95%;
    margin: 5px auto;
}

.services .box .img{
    width: 70%;
}

/* Contact Section  */
#contact{
    overflow: hidden;
}